server:
  port: 8181

spring:
  jpa:
    hibernate:
      ddl-auto: create
  datasource:
    url: jdbc:mysql://${MYSQL_HOST}:3306/db_blog
    username: root
    password: root
    initialization-mode: always
    platform: mysql
      
    
